
extends layout

block content
  include author
  each article in articles
    a(class="listing-link listing-link-" + article.metadata.file href=article.url)
      div(class="listing-image listing-image-" + article.metadata.file style="background-image: url('articles/" + article.metadata.file + "/" + article.metadata.indexImage + "');")
      div(class="listing-details listing-details-" + article.metadata.file)
        p #{ article.title }
      //- header
      //-   h2
      //-     a(href=article.url)= article.title
      //- section.content
      //-   if article.intro.length > 0
      //-     != typogr(article.intro).typogrify()
      //-   if article.hasMore
      //-     p.more
      //-       a(href=article.url) more

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    else
      a(href='/archive.html') &laquo; Archives
    if nextPage
      a(href=nextPage.url) Next page &raquo;
